
main {
    display: flex;
    flex-direction: column;
}
/* Filtros i nav dels plats */
.filtros, section nav {
    border: transparent;
    background-color: var(--color-buttons);
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.filtros button.filtrar {
    border: 2px solid var(--color-accent);
    
}
.filtros button {
    border: 2px solid var(--color-fons2);
    background-color: var(--color-);
    padding: 0.25rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-accent);
    cursor: pointer;
    border-radius: 1rem;
}
.filtros button:hover {
    color: var(--color-fons2);
    border: 2px solid var(--color-fons2);
    background-color: var(--color-accent);
    opacity: 0.8;
}

.filtros p {
    font-family: 'BebasNeue';
    font-size: 1.5rem;
}
section nav {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    gap: 1rem;
}



/* Centrar plats i wrap */
.platos {
    display: flex;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.plat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
}
    /* Bordes de cada plat */
.plat > div:first-of-type {
    border-top: 3px solid var(--color-text);
    height: 200px;
}
.plat > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
    width: 280px;
    /* Borde */
    padding: 20px;
    border: 3px solid var(--color-text);
    border-top: none;

    background-color: var(--color-buttons);
}

    /* Tamany de la imatge */
.plat > div > img {
    height: 125px;
}
    /* Colocar nom del plat a la esquerra */
.plat > div > p:nth-of-type(1) {
    align-self: baseline;
}
 /* Colocar preu del plat a la dreta */
.plat > div > p:nth-of-type(2) {
    align-self: end;
}

@media (min-width: 577px) {
    
    .platos{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .plat {
        width: fit-content; /* Fa que el contenidor ocupi l'espai que ocupen els fills i no menys */
        min-width: 20%;
    }
        /* Tamany de la imatge */
    .plat > div > img {
        height: 140px;
    }
}

@media (min-width: 992px) {
    
}