
main {
    display: flex;
    flex-direction: column;
}
/* Centrar plats i wrap */
.platos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.plat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;;
    margin-bottom: 20px;
}
    /* Bordes de cada plat */
.plat > div:first-of-type {
    border-top: 3px solid var(--color-buttons);
    height: 200px;
}
.plat > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
    width: 280px;
    /* Borde */
    padding: 20px;
    border: 3px solid var(--color-buttons);
    border-top: none;
}

    /* Tamany de la imatge */
.plat > div > img {
    height: 125px;
}
    /* Colocar nom del plat a la esquerra */
.plat > div > p:nth-of-type(1) {
    align-self: baseline;
}
 /* Colocar preu del plat a la dreta */
.plat > div > p:nth-of-type(2) {
    align-self: end;
}

@media (min-width: 577px) {
    
    .platos{
    flex-direction: row;
    flex-wrap: wrap;
    }
    .plat {
        width: 45%;
    }
        /* Tamany de la imatge */
    .plat > div > img {
        height: 140px;
    }
}