@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;    
    /* border: 1px solid red; */
    box-sizing: border-box;

}
:root {
    --color-text: #0A1128;
    --color-buttons: #006992;
    --color-fons: #006992;
    /* Color fons anterior passat a hsl */
    --color-fons2: hsla(196.85, 100%, 28.63%, 80% );
    --color-accent: #E16F7C;
}
html {
    font-size: 20px;
}
body {
    background-color: var(--color-fons2);
    font-family:'OpenSans', sans-serif;

}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-accent);

}
a:hover {
    text-decoration: underline;
}

/* Titulos como Platos estrella o Partes del menu*/
.titulo {
    border: 3px solid var(--color-fons2);
    text-align: center;
    margin-bottom: 10px;
    width: calc(100% - 0.0rem + 0px);
    font-family: 'BebasNeue', sans-serif;
}

.titulo h2 {
    font-size: 2rem;
}


/* Footer */
footer {
    position: relative;
}
footer div{
    display: inline-block;
    margin-bottom: 10px;
}
/* Logo + divLogo */
footer div:nth-of-type(1) {
    width: 100%;
}
footer img {
    width: 75px;
}
footer h2 {
    display: block;
}
footer a {
    display: block;
}

/* Xarxes Socials */
footer div:nth-of-type(3) {
    text-align: right;
    position: absolute;
    top: 10%;
    right: 10px;
}
/* Copyright & TOS */
footer div:last-of-type {
    display: block;
}
footer div:last-of-type a {
    display: inline-block;
}
footer div:last-of-type a:last-of-type {
    position: absolute;
    right: 0;
}
footer div:last-of-type p {
    display: inline-block;
}


@media (min-width: 577px) {
    html {
            font-size: 22px;
    }
}