.dades img {
    width: 50px;
}

.dades div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}

.dades h2 {
    margin-bottom: 10px;
    padding: 20px;

}
.dades {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
section {
    border: 2px solid black;
    padding: 0 0 5px 0;
    border-radius: 10px;
    margin-bottom: 20px;
}
.mapa {
    padding: 0;
}


form label {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100px;
}
form label img {
    width: 50px;
}
input{
    max-width: 120px;
}

button[type="submit"] {
    color: var(--color-accent);
    background-color: var(--color-fons2);
    border: 2px solid var(--color-buttons);
    border-radius: 1rem;
    
    padding: 10px 50px;
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
}


@media (min-width: 578px) {
    input{
       max-width: 300px;
       height: 30px;
}
}