
header {
    background-color: #006992;
    padding: 10px;
    font-family: 'OpenSans', sans-serif;
    position: relative;
}
/* Contenidor del logo i botons hamburguesa i X */
.header-buttons {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

header img[alt="logo"] {
    /* padding-top: 20px; */
    height: 10vh;
}
header a {
    text-align: center;  
    font-size: 3rem;
    padding: 0 5px;
    display: block;
    border-bottom: 2px solid var(--color-text);
    color: var(--color-accent);
    
}
header nav {
    padding-top: 5vh;
    position: fixed;
    top: 7%;
    inset: 0;
    z-index: 100;
    display: none;
    /* height: 120vh; */
    background-color: var(--color-buttons);
}
#btnMenu {
    position: absolute;
    width: 100px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

}
.display-none {
    display: none;
}
#btnMenu-close {
    position: fixed;
    inset: 20px;
    height: 40px;
    z-index: 200;
}
.display-block {
    display: block;
}


@media (min-width: 1024px) {
    .menu {
        /* position: absolute; Esto lo arregla usando los 5vh padding-top */
        
        position: absolute;
        display: inline-block;
        background-color: transparent;
        text-align: right;
        height: initial;
        padding: 0; /* Quitar*/ 
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

   
    header a {
        padding: 0 35px;
        font-size: 1.5rem;
        text-align: right;
        border: none;
        display: inline-block;
        /* Centrar enllaços dins el contenidor .menu */
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        
    }
    #btnMenu, #btnMenu-close {
        display: none;
    }
}