
header {
    background-color: #006992;
    padding-bottom: 20px;
    font-family: 'OpenSans', sans-serif;
    margin-bottom: 1vh;
}
/* Contenidor del logo i botons hamburguesa i X */
.header-buttons {
    position: relative;
}

header img[alt="logo"] {
    padding-top: 20px;
    height: 10vh;
}
header a {
    text-align: center;  
    font-size: 3rem;
    padding: 10px 5px;
    display: block;
    border-bottom: 2px solid var(--color-text);
    
}
header nav {
    position: absolute;
    top: 7%;
    inset: 0;
    z-index: 100;
    display: none;
    background-color: var(--color-buttons);
}
#btnMenu {
    position: absolute;
    width: 100px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

}
.display-none {
    display: none;
}
#btnMenu-close {
    position: absolute;
    inset: 20px;
    height: 40px;
    z-index: 200;
}
.display-block {
    display: block;
}


@media (min-width: 1024px) {
    header nav {
    position: absolute;
    right: 10%;
    display: block;
    background-color: transparent;
    position: absolute;
    text-align: right;
    top: calc(20px + 5vh - 1rem); /* Padding-bottom(Header) + height(Header) + 1rem*/

    }
    
    header a {
        padding: 0 50px;
        font-size: 1.5rem;
        text-align: right;
        border: none;
        display: inline-block;

        
    }
    #btnMenu, #btnMenu-close {
        display: none;
    }
}