

main {
    position: relative;
}

/* Imatge principal amb eslògan */
main section:first-of-type {
    position: relative;
    margin-bottom: 2vh;
}

main section:first-of-type img {
    position: relative;
    max-height: 40vh;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
main section:first-of-type h2{
    position: absolute;
    width: 30vw;
    min-width: 260px;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    top: 6vh;
    text-align: center;
    color: var(--color-text);
    background-color: var(--color-buttons);
}
main section:first-of-type a {
    position: absolute;
    width: 30vw;
    min-width: 260px;
    max-width: 400px;
    left: 50%;
    background-color: var(--color-buttons);
    color: var(--color-accent);
    transform: translateX(-50%);
    top: calc(6vh + 4rem);
    text-align: center;
}

main section:first-of-type p {
    position: absolute;
    width: 30vw;
    min-width: 260px;
    max-width: 400px;
    background-color: var(--color-buttons);
    left: 50%;
    transform: translateX(-50%);
    top: calc(9vh + 4rem);
    text-align: center;
}

/* Apartat de plats estrella*/
section:nth-of-type(2) div:nth-of-type(2) {
    width: 90vw;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10vh;
    /* border: solid 1px red; */
    position: relative;
}
article {
    border: 2px solid var(--color-buttons);
    border-radius: 35px;
    position: relative;
    height: 300px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    
}
article img {
    position: relative;
    max-height: 250px;
    height: 30vw;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}
article p {
    position: relative;
    top: 5vh;
    width: calc(100% - 1rem);
    padding-left: 1rem;
}
.articlePC {
    display: none;
}
.flechas {
    height: 60px;
    position: absolute;
    top: 10vh;

}
.flechas[alt="flechaDerecha"] {
    right: 0;
}


@media (min-width: 600px) {

    main section:first-of-type h2 {
        top: 10vh;
    }
    main section:first-of-type a {
        top: calc(10vh + 4rem);
    }
    main section:first-of-type p {
        top: calc(15vh + 4rem);
    }
    

    .flechas {
        display: none;
    }
    article {
        height: 55vw;
        max-height: 400px;
        width: 49%;
        min-width: 500px;
        left:0;
        transform: translateX(0);
        display: inline-block;
    }
    .articlePC {
        display: inline-block;
    }
}